type project
developmentDependency true
projectUrl https://github.com/DotNetAnalyzers/AspNetCoreAnalyzers
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  ASP012 prefer explicit route.
  ASP013 Name the controller to match the route.

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools

